body {
  background-color: '#f0f0f0';
  overflow-y: scroll; /* Ensure the scrollbar is always present */
  margin: 0;
  padding: 0;
}

h1 {
  /* margin: 0 auto; */
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}